Repository blencorp/capture-mcp-server, changes with the owners that .github/CODEOWNERS names for each.
All owners: @capture-mcp-server/maintainers, @capture-mcp-server/docs-team, @capture-mcp-server/core-team, @capture-mcp-server/api-team, @capture-mcp-server/admin

.github/CODEOWNERS:

# This file defines code ownership for automatic PR review requests
# https://help.github.com/articles/about-codeowners/

# Default owners for everything in the repo
* @capture-mcp-server/maintainers

# Documentation
*.md @capture-mcp-server/docs-team
/docs/ @capture-mcp-server/docs-team

# Core server components
/src/server.ts @capture-mcp-server/core-team
/src/utils/ @capture-mcp-server/core-team

# Tool implementations
/src/tools/sam-tools.ts @capture-mcp-server/api-team
/src/tools/usaspending-tools.ts @capture-mcp-server/api-team
/src/tools/join-tools.ts @capture-mcp-server/api-team

# GitHub configuration
/.github/ @capture-mcp-server/admin

# Dependencies and build configuration
package*.json @capture-mcp-server/maintainers
tsconfig.json @capture-mcp-server/maintainers

chore: update package-lock.json
  package-lock.json
Owners: @capture-mcp-server/maintainers

build: compile TypeScript to JavaScript
  README.md
Owners: @capture-mcp-server/docs-team

docs: add MCP Inspector documentation to README
  README.md
Owners: @capture-mcp-server/docs-team

feat: add Tango API integration with 5 specialized tools
  .env.example
  CLAUDE.md
  README.md
  src/tools/index.ts
  src/tools/tango-tools.ts
  src/utils/api-client.ts
Owners: @capture-mcp-server/maintainers, @capture-mcp-server/docs-team, @capture-mcp-server/core-team

feat: make API keys optional with conditional tool registration
  CLAUDE.md
  README.md
  src/server.ts
  src/tools/index.ts
Owners: @capture-mcp-server/docs-team, @capture-mcp-server/core-team, @capture-mcp-server/maintainers

docs: refresh project documentation
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  README.md
Owners: @capture-mcp-server/docs-team

chore: align metadata with MIT licensing
  LICENSE
  manifest.json
  package-lock.json
  package.json
Owners: @capture-mcp-server/maintainers

chore: clarify usaspending rate-limit comment
  src/utils/api-client.ts
Owners: @capture-mcp-server/core-team

chore: simplify ts-node esm loader setup
  package.json
  ts-node.register.mjs
Owners: @capture-mcp-server/maintainers

Fix Tango tool endpoints to match API
  src/tools/tango-tools.ts
  src/utils/api-client.ts
Owners: @capture-mcp-server/maintainers, @capture-mcp-server/core-team

feat: update MCP manifest to v0.3 spec and improve documentation
  README.md
  assets/icon.png
  assets/icon.svg
  manifest.json
  package.json
Owners: @capture-mcp-server/docs-team, @capture-mcp-server/maintainers

docs: make API keys optional and add comprehensive installation guide
  .gitignore
  README.md
  icon.png
  manifest.json
  package-lock.json
  package.json
Owners: @capture-mcp-server/maintainers, @capture-mcp-server/docs-team

refactor: improve rate limiting with queue-based approach
  src/utils/api-client.ts
Owners: @capture-mcp-server/core-team

feat: add structured content to MCP responses
  src/server.ts
Owners: @capture-mcp-server/core-team

fix: clear tool registry before initialization
  src/tools/index.ts
Owners: @capture-mcp-server/maintainers

fix: correct NAICS filter and join description in join tools
  src/tools/join-tools.ts
Owners: @capture-mcp-server/api-team

chore: update package metadata and Node requirement
  manifest.json
  package.json
Owners: @capture-mcp-server/maintainers

docs: enhance README with structured output features and clarifications
  README.md
Owners: @capture-mcp-server/docs-team

docs: standardize tool name formatting in README
  README.md
Owners: @capture-mcp-server/docs-team

fix: remove bold formatting from get_sam_entity_details tool name
  README.md
Owners: @capture-mcp-server/docs-team

chore: update package name to @blen scope and add mcpName field
  package.json
Owners: @capture-mcp-server/maintainers

feat: add server.json for MCP registry publishing
  server.json
Owners: @capture-mcp-server/maintainers

chore: add semantic-release dependencies
  package-lock.json
Owners: @capture-mcp-server/maintainers

feat: add semantic-release configuration
  .releaserc.json
Owners: @capture-mcp-server/maintainers

feat: add automated release workflow using semantic-release
  .github/workflows/release.yml
Owners: @capture-mcp-server/admin

refactor: simplify MCP publishing workflow to remove NPM publishing
  .github/workflows/publish-mcp.yml
Owners: @capture-mcp-server/admin

docs: add initial CHANGELOG.md with v1.0.0 release notes
  CHANGELOG.md
Owners: @capture-mcp-server/docs-team

docs: add NPM installation instructions to README
  README.md
Owners: @capture-mcp-server/docs-team

docs: update CLAUDE.md with semantic-release workflow documentation
  CLAUDE.md
Owners: @capture-mcp-server/docs-team

feat: Add AWS Lambda serverless deployment ('Dirt Cheap' method)
  .env.example
  .gitignore
  README.md
  icon.png
  infrastructure/bin/app.ts
  infrastructure/cdk.context.json
  infrastructure/cdk.json
  infrastructure/jest.config.js
  infrastructure/lib/serverless-stack.ts
  infrastructure/package-lock.json
  infrastructure/package.json
  infrastructure/test/serverless-stack.test.ts
  infrastructure/tsconfig.json
  package-lock.json
  package.json
  scripts/manage-keys.ts
  scripts/sync-config.ts
  src/lambda-handler.ts
  src/middleware/s3-api-key.ts
  src/server.ts
  src/tools/index.ts
  tsconfig.json
Owners: @capture-mcp-server/maintainers, @capture-mcp-server/docs-team, @capture-mcp-server/core-team

Update wording on MCP server to service
  README.md
Owners: @capture-mcp-server/docs-team

Address co-pilot PR review
  README.md
  infrastructure/lib/serverless-stack.ts
  package.json
  scripts/manage-keys.ts
  scripts/sync-config.ts
Owners: @capture-mcp-server/docs-team, @capture-mcp-server/maintainers

pin mcp-remote version
  README.md
  scripts/sync-config.ts
Owners: @capture-mcp-server/docs-team, @capture-mcp-server/maintainers

docs: Add HOSTING.md with AWS serverless deployment guide
  HOSTING.md
Owners: @capture-mcp-server/docs-team

feat: add HigherGov MCP namespace
  .env.example
  CLAUDE.md
  src/lambda-handler.ts
  src/server.ts
  src/tools/highergov-tools.ts
  src/tools/index.ts
  src/utils/api-client.ts
  src/utils/highergov-slugs.ts
Owners: @capture-mcp-server/maintainers, @capture-mcp-server/docs-team, @capture-mcp-server/core-team

chore: sync lockfiles
  infrastructure/package-lock.json
  package-lock.json
Owners: @capture-mcp-server/maintainers

chore: add Railway deploy config
  README.md
  railway.toml
Owners: @capture-mcp-server/docs-team, @capture-mcp-server/maintainers

fix(highergov): address review feedback
  infrastructure/package-lock.json
  src/tools/highergov-tools.ts
  src/tools/index.ts
  src/utils/api-client.ts
  src/utils/highergov-slugs.ts
Owners: @capture-mcp-server/maintainers, @capture-mcp-server/core-team

docs(railway): clarify mcp smoke test
  README.md
Owners: @capture-mcp-server/docs-team

fix(railway): avoid duplicate npm install
  README.md
  railway.toml
Owners: @capture-mcp-server/docs-team, @capture-mcp-server/maintainers
