Repository blencorp/capture-mcp-server, changes with the owners that .github/CODEOWNERS names for each.
All owners: @capture-mcp-server/maintainers, @capture-mcp-server/docs-team, @capture-mcp-server/core-team, @capture-mcp-server/api-team, @capture-mcp-server/admin

.github/CODEOWNERS:

# This file defines code ownership for automatic PR review requests
# https://help.github.com/articles/about-codeowners/

# Default owners for everything in the repo
* @capture-mcp-server/maintainers

# Documentation
*.md @capture-mcp-server/docs-team
/docs/ @capture-mcp-server/docs-team

# Core server components
/src/server.ts @capture-mcp-server/core-team
/src/utils/ @capture-mcp-server/core-team

# Tool implementations
/src/tools/sam-tools.ts @capture-mcp-server/api-team
/src/tools/usaspending-tools.ts @capture-mcp-server/api-team
/src/tools/join-tools.ts @capture-mcp-server/api-team

# GitHub configuration
/.github/ @capture-mcp-server/admin

# Dependencies and build configuration
package*.json @capture-mcp-server/maintainers
tsconfig.json @capture-mcp-server/maintainers

feat(auth): add per-user HigherGov OAuth
  README.md
  package.json
  src/auth/highergov-oauth.test.ts
  src/auth/highergov-oauth.ts
  src/server.ts
  src/tools/highergov-tools.ts
Owners: @capture-mcp-server/docs-team, @capture-mcp-server/maintainers, @capture-mcp-server/core-team

fix(railway): avoid false error logs
  README.md
  railway.toml
  src/server.ts
Owners: @capture-mcp-server/docs-team, @capture-mcp-server/maintainers, @capture-mcp-server/core-team

docs(env): group API key examples with provider links
  .env.example
Owners: @capture-mcp-server/maintainers

feat(auth): support per-user keys for SAM, Tango, HigherGov
  src/auth/highergov-oauth.test.ts
  src/auth/mcp-oauth.test.ts
  src/auth/mcp-oauth.ts
  src/server.ts
Owners: @capture-mcp-server/maintainers, @capture-mcp-server/core-team

feat(auth): allow header passthrough alongside OAuth on /mcp
  src/server.ts
Owners: @capture-mcp-server/core-team

docs: explain multi-key OAuth and header passthrough
  CLAUDE.md
  README.md
Owners: @capture-mcp-server/docs-team

ci: deploy to Railway via GitHub Actions on push to main
  .github/workflows/deploy-railway.yml
  README.md
Owners: @capture-mcp-server/admin, @capture-mcp-server/docs-team

fix(highergov): tolerate non-string agency/vehicle/set-aside payloads
  src/utils/highergov-slugs.test.ts
  src/utils/highergov-slugs.ts
Owners: @capture-mcp-server/core-team

fix(highergov): align lookups and field mapping with the real API
  src/tools/highergov-tools.ts
  src/utils/highergov-slugs.test.ts
  src/utils/highergov-slugs.ts
Owners: @capture-mcp-server/maintainers, @capture-mcp-server/core-team

feat(tango): expand Tango toolset to 12 tools
  CLAUDE.md
  README.md
  src/tools/index.ts
  src/tools/tango-tools.ts
Owners: @capture-mcp-server/docs-team, @capture-mcp-server/maintainers

fix(tango): surface protest uuid + normalize idv_type code
  src/tools/tango-tools.ts
Owners: @capture-mcp-server/maintainers

fix(tango): look up protest via case_number filter
  src/tools/tango-tools.ts
Owners: @capture-mcp-server/maintainers

Default dynamic client registration scope to mcp:tools
  src/auth/mcp-oauth.test.ts
  src/auth/mcp-oauth.ts
Owners: @capture-mcp-server/maintainers

docs: add bug fix and hardening plan for P0 tool failures
  docs/fix-plan.md
Owners: @capture-mcp-server/docs-team

Add shared envelope/pagination/FPDS-code infra and fixture-capture groundwork
  docs/upstream-api-notes.md
  package.json
  scripts/capture-fixtures.ts
  src/utils/envelope.test.ts
  src/utils/envelope.ts
  src/utils/fpds-codes.test.ts
  src/utils/fpds-codes.ts
  src/utils/pagination.test.ts
  src/utils/pagination.ts
Owners: @capture-mcp-server/docs-team, @capture-mcp-server/maintainers, @capture-mcp-server/core-team

Fix HigherGov contract search (P0-5/P0-6) and add opportunity search tools
  src/tools/__fixtures__/highergov-contract.fixture.ts
  src/tools/highergov-tools.test.ts
  src/tools/highergov-tools.ts
Owners: @capture-mcp-server/maintainers

Fix Tango tools: exact set-aside matching, honest filters, cursor pagination (P0-1..P0-4)
  src/tools/highergov-tools.ts
  src/tools/tango-tools.test.ts
  src/tools/tango-tools.ts
  src/utils/envelope.ts
Owners: @capture-mcp-server/maintainers, @capture-mcp-server/core-team

Reject unknown tool parameters at the MCP boundary; run tests in CI
  .github/workflows/deploy-railway.yml
  .github/workflows/test.yml
  src/tools/index.test.ts
  src/tools/index.ts
Owners: @capture-mcp-server/admin, @capture-mcp-server/maintainers

Add lookup_reference_code, get_award_detail, aggregate_contracts; smoke script and docs
  CLAUDE.md
  README.md
  docs/fix-plan.md
  manifest.json
  scripts/smoke.ts
  src/tools/index.ts
  src/tools/reference-tools.ts
  src/tools/usaspending-tools.test.ts
  src/tools/usaspending-tools.ts
Owners: @capture-mcp-server/docs-team, @capture-mcp-server/maintainers, @capture-mcp-server/api-team

Align Tango tools with the published API docs
  docs/upstream-api-notes.md
  src/tools/tango-tools.test.ts
  src/tools/tango-tools.ts
Owners: @capture-mcp-server/docs-team, @capture-mcp-server/maintainers

Use the documented last_modified_date param for forecast search
  docs/upstream-api-notes.md
  src/tools/highergov-tools.test.ts
  src/tools/highergov-tools.ts
Owners: @capture-mcp-server/docs-team, @capture-mcp-server/maintainers

Verify HigherGov mappings against the official OpenAPI spec
  docs/fix-plan.md
  docs/upstream-api-notes.md
  fixtures/raw/highergov-openapi.json
  scripts/capture-fixtures.ts
  scripts/smoke.ts
  src/tools/__fixtures__/highergov-contract.fixture.ts
  src/tools/highergov-tools.test.ts
  src/tools/highergov-tools.ts
  src/utils/highergov-slugs.ts
  src/utils/pagination.ts
Owners: @capture-mcp-server/docs-team, @capture-mcp-server/maintainers, @capture-mcp-server/core-team

Live-verify HigherGov mappings with a real key; fix opportunity search and document lookup
  docs/fix-plan.md
  docs/upstream-api-notes.md
  fixtures/raw/highergov-contract-agency-awarding_agency_key.json
  fixtures/raw/highergov-contract-page.json
  fixtures/raw/highergov-document-page.json
  fixtures/raw/highergov-opportunity-page.json
  fixtures/raw/highergov-people-page.json
  fixtures/raw/tango-contracts-page.json
  scripts/capture-fixtures.ts
  src/tools/__fixtures__/highergov-contract.fixture.ts
  src/tools/highergov-tools.test.ts
  src/tools/highergov-tools.ts
  src/utils/highergov-slugs.test.ts
  src/utils/highergov-slugs.ts
Owners: @capture-mcp-server/docs-team, @capture-mcp-server/maintainers, @capture-mcp-server/core-team

Add automatic release tagging and notes on merge to main
  .github/release.yml
  .github/workflows/release.yml
  CONTRIBUTING.md
  package.json
  scripts/release-version.ts
  src/utils/version-bump.test.ts
  src/utils/version-bump.ts
Owners: @capture-mcp-server/admin, @capture-mcp-server/docs-team, @capture-mcp-server/maintainers, @capture-mcp-server/core-team

fix(ci): run the compiled test suite on Node 20
  package.json
  scripts/run-tests.sh
Owners: @capture-mcp-server/maintainers

feat!: upgrade to MCP spec 2026-07-28 on the TypeScript SDK v2
  CLAUDE.md
  README.md
  docs/mcp-2026-07-28-upgrade-plan.md
  package-lock.json
  package.json
  src/auth/mcp-oauth.test.ts
  src/auth/mcp-oauth.ts
  src/auth/oauth-endpoints.test.ts
  src/auth/oauth-endpoints.ts
  src/lambda-handler.ts
  src/mcp-factory.ts
  src/mcp-http.ts
  src/server.ts
  src/tools/highergov-tools.ts
  src/tools/index.ts
  src/tools/join-tools.ts
  src/tools/reference-tools.ts
  src/tools/sam-tools.ts
  src/tools/tango-tools.ts
  src/tools/usaspending-tools.ts
Owners: @capture-mcp-server/docs-team, @capture-mcp-server/maintainers, @capture-mcp-server/core-team, @capture-mcp-server/api-team

ci: scope Railway deploys and auto-releases to the canonical repo
  .github/workflows/deploy-railway.yml
  .github/workflows/release.yml
  CONTRIBUTING.md
  README.md
Owners: @capture-mcp-server/admin, @capture-mcp-server/docs-team

Record the passing live Tango smoke run
  docs/fix-plan.md
  docs/upstream-api-notes.md
Owners: @capture-mcp-server/docs-team

feat!: complete MCP 2026-07-28 stateless upgrade
  .env.example
  .github/workflows/deploy-railway.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  .nvmrc
  CLAUDE.md
  README.md
  docs/mcp-2026-07-28-upgrade-plan.md
  infrastructure/lib/serverless-stack.ts
  infrastructure/package-lock.json
  infrastructure/package.json
  infrastructure/test/serverless-stack.test.ts
  manifest.json
  package-lock.json
  package.json
  railway.toml
  scripts/run-tests.sh
  scripts/sync-config.ts
  scripts/verify-deployment.ts
  src/auth/mcp-oauth.test.ts
  src/auth/mcp-oauth.ts
  src/auth/oauth-endpoints.test.ts
  src/auth/oauth-endpoints.ts
  src/auth/oauth-state-store.test.ts
  src/auth/oauth-state-store.ts
  src/lambda-handler.test.ts
  src/lambda-handler.ts
  src/manifest.test.ts
  src/mcp-factory.ts
  src/mcp-http.test.ts
  src/mcp-http.ts
  src/server.ts
  src/stdio.test.ts
  src/tools/index.test.ts
  src/tools/index.ts
Owners: @capture-mcp-server/maintainers, @capture-mcp-server/admin, @capture-mcp-server/docs-team, @capture-mcp-server/core-team

ci: move GitHub Actions to the Node 24 runtime
  .github/workflows/deploy-railway.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
Owners: @capture-mcp-server/admin

fix: expose HigherGov API key in package manifest
  CLAUDE.md
  CONTRIBUTING.md
  README.md
  manifest.json
  src/manifest.test.ts
Owners: @capture-mcp-server/docs-team, @capture-mcp-server/maintainers

fix(usaspending): resolve bare PIIDs by award group
  src/tools/usaspending-tools.test.ts
  src/tools/usaspending-tools.ts
Owners: @capture-mcp-server/maintainers, @capture-mcp-server/api-team
